.form-field {
   display: flex;
   flex-direction: column;

   &__caption {
      margin-bottom: 8px;

      font-size: 14px;
      line-height: 1.5;
      color: var(--color-clay);
   }

   &__input {
      width: 260px;
      height: 44px;
      padding: 0 16px;

      background-color: var(--color-athens);
      border: thin solid var(--color-iron);
      border-radius: 4px;

      font-size: 14px;
      line-height: 1.5;
      color: var(--color-ebony);

      &::placeholder {
         color: #9A9CA5;
      }

      &--big {
         padding-top: 10px;
         min-height: 66px;
         resize: vertical;
      }
   }

   &--big {
      flex-grow: 1;

      .form-field__input {
         width: 100%;
      }
   }

   &--box {
      width: 100%;

      .form-field__input {
         width: 100%;
      }
   }
}