.header {
   padding: 21px 0;

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__nav {
      margin-left: -109px;
   }

   &--main {
      background-color: var(--color-light);
   }

   &--secondary {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
   }
}