<section class="design-benefits section-offset">
   <div class="container">
      <h2 class="title title--center design-benefits__title">Our benefits</h2>
      <p class="descr descr--center design-benefits__text">Our mission is to set the highest standards for construction sphere.</p>

      <ul class="list-reset design-benefits__list">
         <li class="design-benefits__item">
            <img src="./img/design/contract.svg" alt="">
            <h3 class="design-benefits__subtitle">Fixed Terms & Cost</h3>
            <p class="design-benefits__descr">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
         </li>
         <li class="design-benefits__item">
            <img src="./img/design/helmet.svg" alt="">
            <h3 class="design-benefits__subtitle">Qualified Workers</h3>
            <p class="design-benefits__descr">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.</p>
         </li>
         <li class="design-benefits__item">
            <img src="./img/design/control.svg" alt="">
            <h3 class="design-benefits__subtitle">Supervision & Control</h3>
            <p class="design-benefits__descr">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</p>
         </li>
      </ul>

      <button class="btn btn--fill btn-reset design-benefits__btn">Discuss a project</button>
   </div>
</section>