<section class="page-hero page-hero--design">
   <div class="container">
      <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
         <li>
            <a href="#">Homepage</a>
         </li>
         <li>
            <span>Work</span>
         </li>
      </ul>
      <div class="page-hero__content">
         <h1 class="page-hero__title">OUR WORK</h1>
         <p class="page-hero__descr">Our portfolio represents 20 years of construction experience backed by a passion for perfect client service, quality and innovations in consctuction industry.</p>
      </div>
   </div>
</section>