<section class="page-hero page-hero--work-inner">
   <div class="container">
      <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
         <li>
            <a href="#">Homepage</a>
         </li>
         <li>
            <span>Work</span>
         </li>
         <li>
            <span>Modern Cottage</span>
         </li>
      </ul>
      <div class="page-hero__content">
         <h1 class="page-hero__title">OUR WORK</h1>
         <p class="page-hero__descr">Our portfolio represents 20 years of construction experience backed by a passion for perfect client service, quality and innovations in consctuction industry.</p>
      </div>

      <div class="work-images">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <img src="./img/work/1.jpg" alt="Work 1">
            </div>

            <div class="swiper-slide">
               <img src="./img/work/1.jpg" alt="Work 1">
            </div>

            <div class="swiper-slide">
               <img src="./img/work/1.jpg" alt="Work 1">
            </div>
         </div>
      </div>
   </div>
</section>