<section class="page-hero page-hero--design">
   <div class="container">
      <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
         <li>
            <a href="#">Homepage</a>
         </li>
         <li>
            <a href="#">Services</a>
         </li>
         <li>
            <span>Interior Design</span>
         </li>
      </ul>
      <div class="page-hero__content">
         <h1 class="page-hero__title">INTERIOR DESIGN</h1>
         <p class="page-hero__descr">Dui augue nec mi mi. Ut ac lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.</p>
      </div>
   </div>
</section>