<section class="portfolio">
   <div class="container">
      <h2 class="visually-hidden">Portfolio</h2>

      <ul class="list-reset portfolio-tabs js-portfolio-tabs">
         <li class="portfolio-tabs__item">
            <button class="btn-reset portfolio-tabs__btn portfolio-tabs__btn--active js-portfolio-tabs-btn" disabled data-path="all">
               <div class="portfolio-tabs__image">
                  <svg>
                     <use xlink:href="img/sprite.svg#house"></use>
                   </svg>
               </div>
               <span class="portfolio-tabs__text">All Projects</span>
            </button>
         </li>
         <li class="portfolio-tabs__item">
            <button class="btn-reset portfolio-tabs__btn js-portfolio-tabs-btn" data-path="construction">
               <div class="portfolio-tabs__image">
                  <svg>
                     <use xlink:href="img/sprite.svg#construction"></use>
                   </svg>
               </div>
               <span class="portfolio-tabs__text">Construction</span>
            </button>
         </li>
         <li class="portfolio-tabs__item">
            <button class="btn-reset portfolio-tabs__btn js-portfolio-tabs-btn" data-path="dev">
               <div class="portfolio-tabs__image">
                  <svg>
                     <use xlink:href="img/sprite.svg#project-development"></use>
                   </svg>
               </div>
               <span class="portfolio-tabs__text">Project Development</span>
            </button>
         </li>
         <li class="portfolio-tabs__item">
            <button class="btn-reset portfolio-tabs__btn js-portfolio-tabs-btn" data-path="design">
               <div class="portfolio-tabs__image">
                  <svg>
                     <use xlink:href="img/sprite.svg#interior-design"></use>
                   </svg>
               </div>
               <span class="portfolio-tabs__text">Interior Design</span>
            </button>
         </li>
         <li class="portfolio-tabs__item">
            <button class="btn-reset portfolio-tabs__btn js-portfolio-tabs-btn" data-path="repair">
               <div class="portfolio-tabs__image">
                  <svg class="">
                     <use xlink:href="img/sprite.svg#repairs"></use>
                   </svg>
               </div>
               <span class="portfolio-tabs__text">Repairs</span>
            </button>
         </li>
      </ul>

      <ul class="portfolio-tabs-content grid">
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="repair">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="repair">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="design">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="dev">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="dev">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="construction">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="construction">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="construction">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
         <li class="portfolio-tabs-content__item js-portfolio-tabs-content portfolio-tabs-content__item--visible">
            <a class="portfolio-item" href="#" data-target="construction">
               <img class="portfolio-item__img" src="./img/portfolio-item/image1.jpg" alt="Portfolio cover">
               <div class="portfolio-item__content">
                  <h3 class="portfolio-item__title">Red Finger Building</h3>
                  <p class="portfolio-item__description">Business Centers</p>
                  <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
               </div>
            </a>
         </li>
      </ul>
   </div>
</section>