<section class="related-projects section-offset">
   <div class="container">
      <div class="related-projects__top">
         <h2 class="title related-projects__title">Related projects</h2>
         <div class="slider-nav">
            <button class="btn-reset slider-nav__btn related-projects__prev js-related-prev slider-btn">
               <svg>
                  <use xlink:href="img/sprite.svg#left-arrow"></use>
               </svg>
            </button>
            <button class="btn-reset slider-nav__btn related-projects__next js-related-next slider-btn">
               <svg>
                  <use xlink:href="img/sprite.svg#right-arrow"></use>
               </svg>
            </button>
         </div>
      </div>

      <div class="swiper related-projects__items js-swiper-related swiper-no-swiping">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <a class="portfolio-item" href="#">
                  <img class="portfolio-item__img" src="./img/design/projects1.jpg" alt="related cover">
                  <div class="portfolio-item__content">
                     <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
                     <p class="portfolio-item__description">Apartments & flats</p>
                     <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
                  </div>
               </a>
            </div>
            <div class="swiper-slide">
               <a class="portfolio-item" href="#">
                  <img class="portfolio-item__img" src="./img/design/projects1.jpg" alt="related cover">
                  <div class="portfolio-item__content">
                     <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
                     <p class="portfolio-item__description">Apartments & flats</p>
                     <div class="btn btn--stroke btn-reset portfolio-item__btn">View Project</div>
                  </div>
               </a>
            </div>
            <div class="swiper-slide">
               <a class="portfolio-item" href="#">
                  <img class="portfolio-item__img" src="./img/design/projects1.jpg" alt="related cover">
                  <div class="portfolio-item__content">
                     <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
                     <p class="portfolio-item__description">Private houses</p>
                     <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
                  </div>
               </a>
            </div>
            <div class="swiper-slide">
               <a class="portfolio-item" href="#">
                  <img class="portfolio-item__img" src="./img/design/projects1.jpg" alt="related cover">
                  <div class="portfolio-item__content">
                     <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
                     <p class="portfolio-item__description">Apartments & flats</p>
                     <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
                  </div>
               </a>
            </div>
            <div class="swiper-slide">
               <a class="portfolio-item" href="#">
                  <img class="portfolio-item__img" src="./img/design/projects1.jpg" alt="related cover">
                  <div class="portfolio-item__content">
                     <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
                     <p class="portfolio-item__description">Apartments & flats</p>
                     <div class="btn btn--stroke btn-reset portfolio-item__btn">View Project</div>
                  </div>
               </a>
            </div>
            <div class="swiper-slide">
               <a class="portfolio-item" href="#">
                  <img class="portfolio-item__img" src="./img/design/projects1.jpg" alt="related cover">
                  <div class="portfolio-item__content">
                     <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
                     <p class="portfolio-item__description">Private houses</p>
                     <div class="btn btn--stroke-orange btn-reset btn--stroke portfolio-item__btn">View Project</div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="related-projects__learn learn-more">
         <p class="learn-more__text">Explore all our works</p>
         <a class="btn btn-reset btn--fill" href="#">View portfolio</a>
      </div>
   </div>
</section>