<section class="services-section section-offset">
   <div class="container">
      <h2 class="title title--center">Our services</h2>
      <p class="descr descr--center">Createx Construction Bureau is&nbsp;a&nbsp;construction giant with a&nbsp;full
         range of&nbsp;construction services. Оттипографить Скопировать</p>

      <ul class="services-list services-section__list grid">
         <li  class="services-list__item">
            <a class="services-item" href="#">
               <div class="services-item__content">
                  <svg class="services-item__icon">
                     <use xlink:href="img/sprite.svg#construction"></use>
                  </svg>
                  <p class="services-item__title">Construction</p>
               </div>
               <img class="services-item__img" src="./img/services/image.jpg" alt="">
            </a>
         </li>
         <li  class="services-list__item">
            <a class="services-item" href="#">
               <div class="services-item__content">
                  <svg class="services-item__icon">
                     <use xlink:href="img/sprite.svg#project-development"></use>
                  </svg>
                  <p class="services-item__title">Project Development</p>
               </div>
               <img class="services-item__img" src="./img/services/image.jpg" alt="">
            </a>
         </li>
         <li  class="services-list__item">
            <a class="services-item" href="#">
               <div class="services-item__content">
                  <svg class="services-item__icon">
                     <use xlink:href="img/sprite.svg#interior-design"></use>
                  </svg>
                  <p class="services-item__title">Interior Design</p>
               </div>
               <img class="services-item__img" src="./img/services/image.jpg" alt="">
            </a>
         </li>
         <li  class="services-list__item">
            <a class="services-item" href="#">
               <div class="services-item__content">
                  <svg class="services-item__icon">
                     <use xlink:href="img/sprite.svg#repairs"></use>
                  </svg>
                  <p class="services-item__title">Repairs</p>
               </div>
               <img class="services-item__img" src="./img/services/image.jpg" alt="">
            </a>
         </li>
      </ul>

      <div class="learn-more">
         <p class="learn-more__text">Learn more about our services</p>
         <a class="btn btn-reset btn--fill" href="#">View services</a>
      </div>
   </div>
</section>