<section class="showwedo">
   <div class="container">
      <h2 class="title showwedo__title">That’s how we do it</h2>
      <ul class="showwedo__list grid">
         <li class="showwedo__item">
            <h2 class="showwedo__subtitle">Work Estimate</h2>
            <p class="showwedo__descr">Culpa nostrud commodo ea consequat aliquip reprehenderit.</p>
         </li>
         <li class="showwedo__item">
            <h2 class="showwedo__subtitle">Contract</h2>
            <p class="showwedo__descr">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.</p>
         </li>
         <li class="showwedo__item">
            <h2 class="showwedo__subtitle">Mobilization</h2>
            <p class="showwedo__descr">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</p>
         </li>
         <li class="showwedo__item">
            <h2 class="showwedo__subtitle">Construction Work</h2>
            <p class="showwedo__descr">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</p>
         </li>
      </ul>
   </div>
</section>