<section class="we-offer">
   <div class="container we-offer__container grid">
      <div class="we-offer__image">
         <img src="./img/design/offer.jpg" alt="">
      </div>
      <div class="we-offer__content">
         <h2 class="title we-offer__title">We offer</h2>
         <div class="we-offer__accardion">
            <div class="we-offer__item">
               <button class="btn-reset we-offer__control" type="button" data-offer-control="content-1">
                  Interior design of apartments
                  <span class="we-offer__icon"></span>
               </button>
               <div class="we-offer__body" data-offer-content="content-1">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
               </div>
            </div>
            <div class="we-offer__item">
               <button class="btn-reset we-offer__control" type="button" data-offer-control="content-2">
                  Interior design of private houses
                  <span class="we-offer__icon"></span>
               </button>
               <div class="we-offer__body" data-offer-content="content-2">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
               </div>
            </div>
         </div>
      </div>
   </div>
</section>